.main-text {
  font-size: 1.1em;
  font-family: $manrope;
  font-weight: bold;
  color: $VeryDarkGrayishBlue;
  padding: 1em 1.5em 0 1.5em;
}

.text {
  font-size: 0.8em;
  font-family: $manrope;
  line-height: 1.2em;
  color: $DesaturatedDarkBlue;
  padding: 1em 1.8em 3em 1.8em;
}