.main-body {
  height: 44%;
  padding: 50px 30px;
}

.main-text {
  font-size: 14px;
  font-family: $manrope;
  font-weight: bold;
  margin-bottom: 15px;
  color: $VeryDarkGrayishBlue;
}

.text {
  font-size: 13px;
  font-family: $manrope;
  line-height: 15px;
  color: $DesaturatedDarkBlue;
}