.active-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $VeryDarkGrayishBlue;
  border-radius: 0 0 15px 15px;
  padding: 17px 0;
}

.text-share {
  font-size: 20px;
  font-family: $manrope;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $DesaturatedDarkBlue;
}

.hide {
  display: none;
}