.active-share {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: $VeryDarkGrayishBlue;
   border-radius: 0 0 15px 15px;
   padding: 15px 0;
   }

.text-share {
  font-size: 15px;
  font-family: $manrope;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $DesaturatedDarkBlue;
}

.icon {
  font-size: 22px;
  padding-right: 15px;
  color: #fff;
}

.active-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $DesaturatedDarkBlue;
  border: none;
}

.active-share-btn {
  font-size: 20px;
  color: #fff;
}

.hide {
  display: none;
}